[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/cnl"]
	path = lib/cnl
	url = https://github.com/johnmcfarlane/cnl
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
